.container-fluid {
  background-image: url("../../assets/background.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
  width: 100vw;
  padding: 0;
}
.row {
  padding: 180px;
  margin: 0;
}
.save{
  margin: 15px 400px;
}
