<div class="container-fluid">
  <div class="row">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
      <div class="card text-center rounded-5">
        <div class="card-body d-flex justify-content-between mx-3 my-3">
          <div class="col-md-5 col-sm-3">
            <input
              type="text"
              class="form-control text-center my-3"
              placeholder="First-Name"
              formControlName="firstName"
            />

            <input
              type="text"
              class="form-control text-center my-3"
              placeholder="Phone-Number"
              formControlName="phoneNumber"
            />
          </div>
          <div class="col-md-5 col-sm-3">
            <input
              type="text"
              class="form-control text-center my-3"
              placeholder="Last-Name"
              formControlName="lastName"
            />

            <input
              type="email"
              class="form-control text-center my-3"
              placeholder="Email"
              formControlName="email"
            />

            <div class="input-group mb-3"></div>
          </div>
        </div>
        <button
          type="submit"
          class="bg-primary text-light w-25 rounded-5 border-0 text-center save"
        >
          save
        </button>
      </div>
    </form>
  </div>
</div>
