<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-3 col-sm-1">
      <button routerLink="/update-user" class="btn btn-primary rounded-5 my-3">Add New User</button>
      <div class="user">
        <table class="table rounded border-black bg-transparent text-body">
          <thead class="thead">
            <tr>
              <th class="bg-transparent text-body" scope="col">picture</th>
              <th class="bg-transparent text-body" scope="col">First Name</th>
              <th class="bg-transparent text-body" scope="col">Last Name</th>
              <th class="bg-transparent text-body" scope="col"></th>
            </tr>
          </thead>
          <tbody class="tbody">
            <tr *ngFor="let post of posts">
              <td class="rounded-5 bg-transparent text-body">
                <img [src]="post.picture" />
              </td>
              <td class="align-content-center bg-transparent text-body">
                {{ post.firstName }}
              </td>
              <td class="align-content-center bg-transparent text-body">
                {{ post.lastName }}
              </td>
              <td class="align-content-center bg-transparent text-body">
                <a
                  class="me-2 bg-transparent text-body"
                  [routerLink]="['/update-user', post.id]"
                >
                  <i
                    class="fa-solid fa-pen-to-square text-dark bg-transparent text-body"
                  ></i>
                </a>
                <a (click)="onDelete(post.id)">
                  <i class="fa-solid fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
