<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-3">
      <div class="card">
        <div class="card-body rounded-5 border-black">
          <div class="user">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">picture</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let post of posts">
                  <td><img [src]="post.picture" class="rounded-5" /></td>
                  <td class="align-content-center">{{ post.firstName }}</td>
                  <td class="align-content-center">{{ post.lastName }}</td>
                  <td class="align-content-center">
                    <a class="me-2" [routerLink]="['/updateUser', post.id]">
                      <i class="fa-solid fa-pen-to-square text-dark"></i>
                    </a>
                    <a (click)="onDelete()">
                      <i class="fa-solid fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
